#headShot{
    overflow: hidden;
    width: 100vh;
    height: auto;
}

#headShot img {
    object-fit: contain;
    object-position: center;
    max-width: 100%;
    height: 100%;
}

#about-me-title{
    display: flex;
    justify-content: center;
}

#p-about{
    text-align: center;
}